<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.thesis">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!-- android:name = "MainActivity"-->
    <application


        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/Theme.Thesis">
        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Product View Activity-->
        <!--  <activity android:name=".View.ProductActivity" >
         </activity>-->
         <!-- Products List Activity-->
        <!--  <activity android:name=".View.ProductsListActivity" >
             <intent-filter>
                 <action android:name="android.intent.action.SEARCH" />
                 <category android:name="android.intent.category.DEFAULT" />
             </intent-filter>
             <meta-data
                 android:name="android.app.searchable"
                 android:value=".ProductsListActivity" />
         </activity>-->
         <activity android:name=".view.ui.CategoryView" >
         </activity>
         <activity android:name=".view.ui.SubCategoryView" >
         </activity>
         <activity android:name=".view.ui.ProductsListFragment" >
         </activity>
         <activity android:name=".view.ui.ProductsView" >
         </activity>
         <activity android:name=".view.ui.SettingsView" >
         </activity>
        <activity android:name=".view.ui.CalculatorView" >
        </activity>

         <meta-data
             android:name="preloaded_fonts"
             android:resource="@array/preloaded_fonts" />



         <!-- BACK4APP SETTINGS-->
        <meta-data
            android:name="com.parse.SERVER_URL"
            android:value="@string/back4app_server_url" />
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="@string/back4app_app_id" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="@string/back4app_client_key" />

    </application>

</manifest>